<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="shashank" class="img-fluid" title="thapa technical">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am  <span class="text_clr"> SHASHANK SINGH RAJPUT [M/NO - 8400613825]</span> Mern Stack Developer and soft ware engineer (PLEASE CONTACT ME FOR ANY  TYPE OF SOFTWARE SOLUTION)</h1>
                        <a href="" target="_SHASHSNK"><button>About me</button></a>
                    </div>
                    <!-- right side div -->

                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->

    {{>footer}}
</body>

</html>